<Configuration status="DEBUG">
    <Appenders>
        <Console name="ConsoleSync" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <!-- Appender asincrono -->
        <Async name="Console">
            <AppenderRef ref="ConsoleSync" />
        </Async>
    </Appenders>

    <Loggers>
        <Logger name="io.grpc.netty.shaded.io.grpc.netty.NettyClientHandler" level="error" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="io.grpc.netty.shaded.io.grpc.netty.NettyServerHandler" level="error" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
