<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">

    <Appenders>
        <!-- ============================
           APPENDER: Console
           ============================ -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <!-- ============================
         APPENDER: Rolling File
         ============================ -->
        <RollingFile name="FileLogger"
            fileName="logs/application.log"
            filePattern="logs/application-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Livello generale -->
        <Root level="DEBUG">
            <AppenderRef ref="Console" />
        </Root>

        <!-- Silenzia vari rumorosi -->
        <Logger name="javax.jmdns" level="warn" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <Logger name="org.apache.http" level="warn" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <Logger name="io.grpc.netty.shaded.io.grpc.netty.NettyClientHandler" level="ERROR"
            additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="io.grpc.netty.shaded.io.grpc.netty.NettyServerHandler" level="ERROR"
            additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="io.grpc" level="WARN" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="io.netty" level="WARN" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <Logger name="io.grpc.netty" level="error" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
    </Loggers>

</Configuration>